.text-area-counter {
  font-size: 9pt;
}
.validation-error {
  color: $red;
  font-size: 12px;
}
.nav-backround {
  background-color: $blue !important;
}

.btn-cstm-color {
  background-color: $blue !important;
}

.page-container {
  margin-top: 55px;
}

.page-container-lower {
  margin-top: 70px;
}
